* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
        background-color:#98c2c2;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: static;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 80px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 100px;
	background-color:#98c2c2;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
        color: black;
        font-size: 100px;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
}
.content-area {
	width: 100%;
	position: relative;
	top: 150px;
	background-color:#98c2c2;
	height: 1500px;
}
.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 10px 5px;
}

#grid {
    width: auto; 
    height: 300px;
    margin: auto;
    background-color: wheat;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}

#1 {
  height: 100%;
  background-color: blue;
  grid-column: 1/2;
  grid-row: 1/2;
}

#2 {
  height: 100%;
  background-color: blue;
  grid-column: 2/3;
  grid-row: 1/2;
}

#3 {
  height: 100%;
  background-color: blue;
  grid-column: 3/4;
  grid-row: 1/2;
}

#3 {
  height: 100%;
  background-color: blue;
  grid-column: 4/5;
  grid-row: 1/2;
}
